.max-w-container {
    max-width: 85rem;
}

*, :after, :before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    border-color: rgba(229,231,235,var(--tw-border-opacity));
}

.bg-teal-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(6,182,212,var(--tw-bg-opacity));
}

.text-teal-600 {
    --tw-text-opacity: 1;
    color: rgba(8,145,178,var(--tw-text-opacity));
}

.font-sans {
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

code, kbd, pre, samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.prose {
    color: #4b5563;
    max-width: 65ch;
}

.prose {
    font-size: 1rem;
    line-height: 1.75;
}

.prose-sm {
    font-size: .875rem;
    line-height: 1.7142857;
}

.prose h2 {
    color: #111827;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3333333;
    margin-bottom: 1em;
    margin-top: 2em;
}

.prose h3 {
    color: #111827;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: .6em;
    margin-top: 1.6em;
}

.prose pre {
    background-color: #1f2937;
    border-radius: .375rem;
    color: #e5e7eb;
    font-size: .875em;
    line-height: 1.7142857;
    margin-bottom: 1.7142857em;
    margin-top: 1.7142857em;
    overflow-x: auto;
    padding: .8571429em 1.1428571em;
}

.prose code {
    color: #111827;
    font-size: .875em;
    font-weight: 600;
}

.prose pre code {
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    padding: 0;
}

.prose hr {
    border-color: #e5e7eb;
    border-top-width: 1px;
    margin-bottom: 3em;
    margin-top: 3em;
}

.prose ul {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}

.prose li {
    margin-bottom: .5em;
    margin-top: .5em;
}

.prose ul>li {
    padding-left: 1.75em;
    position: relative;
}

.prose ul>li:before {
    background-color: #d1d5db;
    border-radius: 50%;
    content: "";
    height: .375em;
    left: .25em;
    position: absolute;
    top: .6875em;
    width: .375em;
}

.prose-sm ul>li:before {
    height: .3571429em;
    left: .2142857em;
    top: .67857em;
    width: .3571429em;
}

.prose-sm ul {
    margin-bottom: 1.1428571em;
    margin-top: 1.1428571em;
}

.prose-sm li {
    margin-bottom: .2857143em;
    margin-top: .2857143em;
}

.prose-sm ul>li {
    padding-left: 1.5714286em;
}

.prose-sm hr {
    margin-bottom: 2.8571429em;
    margin-top: 2.8571429em;
}

.prose-sm h2 {
    font-size: 1.4285714em;
    line-height: 1.4;
    margin-bottom: .8em;
    margin-top: 1.6em;
    scroll-margin-top: 1.6em;
}

.prose-sm h3 {
    font-size: 1.2857143em;
    line-height: 1.5555556;
    margin-bottom: .4444444em;
    margin-top: 1.5555556em;
    scroll-margin-top: 1.5555556em;
}

.prose-sm p {
    margin-bottom: 1.1428571em;
    margin-top: 1.1428571em;
}

.prose-sm pre {
    border-radius: .5rem;
    font-size: .929em;
    line-height: 1.692;
    margin-bottom: 1.6666667em;
    margin-top: 1.6666667em;
    padding: 1.077em 1.231em;
}

code[class*=language-], pre[class*=language-] {
    background-color: #1f2937;
}

.prose-sm>:first-child {
    margin-top: 0;
}

.prose-sm h2+* {
    margin-top: 0;
}

.prose-sm h3+* {
    margin-top: 0;
}
